
/Footer starts
footer
  div class="container"
    div class="row"
      div class="col-md-6 col-sm-6"
        div class="fwidget"
          h4 Things
          hr
          p Desc of things. Those are social icons down thar.

          div class="social"
            a href="#" class="facebook"
              i class="fa fa-facebook"
            a href="#" class="twitter"
              i class="fa fa-twitter"
            a href="#" class="google-plus"
              i class="fa fa-google-plus"
            a href="#" class="linkedin"
              i class="fa fa-linkedin"
            a href="#" class="pinterest"
              i class="fa fa-pinterest"

      div class="col-md-6 col-sm-6"
        div class="fwidget"
          h4 Categories
          hr
          ul
            li
              a href="#"
                link
            li
              a href="#"
                link
  hr
  
  div class="copy text-center"
    | Copyright 2013 &copy; - 
    a href="../../responsivewebinc.com/bootstrap-themes.html"
      | Bootstrap Themes