<h1>Recipes</h1>
<%= link_to "Add new recipe", new_recipe_path %>
<table>
 	<tr>
 		<th>Title</th>
 		<th>Description</th>
 	</tr>
 	<% @recipes.each do |recipe| %>
 		<tr>
 			<td><%= link_to recipe.title, recipe_path(recipe) %></td>
 			<td><%= recipe.description %></td>
 		</tr>
 	<% end %>
</table>